<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>display main surface for web users or managers</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>do errors</description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>servlet.ErrorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/servlet/ErrorServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>filter.LoginFilter</filter-class>
      <async-supported>true</async-supported>
      <init-param>
          <param-name>filterException</param-name>
          <param-value>index;LoginServlet;loginFailure;error404;error500;errorUploaded;ErrorServlet</param-value>
      </init-param>
  </filter>
  <filter>
      <filter-name>ErrorFilter</filter-name>
      <filter-class>filter.ErrorFilter</filter-class>
      <async-supported>true</async-supported>
  </filter>
  <filter>
      <filter-name>CharactorFilter</filter-name>
      <filter-class>filter.CharactorFilter</filter-class>
      <async-supported>true</async-supported>
      <init-param>
          <param-name>charset</param-name>
          <param-value>utf-8</param-value>
      </init-param>
  </filter>
  
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
      <filter-name>ErrorFilter</filter-name>
      <url-pattern>/errorPages/error404.jsp</url-pattern>
      <url-pattern>/errorPages/error500.jsp</url-pattern>
      <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CharactorFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>FORWARD</dispatcher>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
      <dispatcher>ERROR</dispatcher>
      <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  <error-page>
      <error-code>404</error-code>
      <location>/errorPages/error404.jsp</location>
  </error-page>
  <error-page>
      <error-code>500</error-code>
      <location>/errorPages/error500.jsp</location>
  </error-page>
</web-app>